<a href="#" class="open-login"><i class="icon icon-user"></i></a>
<a href="#" class="open-search"><i class="icon icon-magnifier"></i></a>
<a href="#" class="open-cart"><i class="icon icon-cart"></i> <span>4</span></a>
<a href="#" class="open-menu"><i class="icon icon-menu"></i></a>