<ul>
    <!--add active class for current page-->
    <li class="left-side"><a href="index.html" class="logo-icon"><img src="assets/images/divano-logo.svg" alt="Alternate Text" width="150" height="34" /></a></li>
    <li class="left-side"><a href="email-template.html">Email template</a></li>
    <li class="left-side"><a href="shortcodes.html">Shortcodes</a></li>
    <li><a href="javascript:void(0);" class="open-login"><i class="icon icon-user"></i></a></li>
    <li><a href="javascript:void(0);" class="open-search"><i class="icon icon-magnifier"></i></a></li>
    <li><a href="javascript:void(0);" class="open-cart"><i class="icon icon-cart"></i> <span>4</span></a></li>
</ul>